@model IE_Web.Models.SendEmailViewModel

@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">
</head>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    if (@ViewBag.Result != null)
    {
        <div class="alert alert-info">@ViewBag.Result</div>
    }

    <div class="site-wrap">

        <div class="site-blocks-cover inner-page overlay" style="background-image: url(../../images/content_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 text-center" data-aos="fade">
                    <h1 class="text-uppercase">Contact Us</h1>
                    <span class="caption d-block text-white">Provided our contact information</span>
                </div>
            </div>
        </div>

        <div class="slant-1"></div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8 mb-5">

                        <form action="#email" class="p-5 bg-white">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-weight-bold" for="email">Email Address</label>
                                    @Html.EditorFor(model => model.ToEmail, new { htmlAttributes = new { @class = "form-control", @id = "email", @placeholder = "Please Enter Your Email Address" } })
                                    @Html.ValidationMessageFor(model => model.ToEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <label class="font-weight-bold" for="fullname">Full Name</label>

                                    @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control", @id = "fullname", @placeholder = "Full Name" } })
                                    @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="font-weight-bold" for="message">Content</label>
                                    @Html.TextAreaFor(model => model.Contents, new { @class = "form-control", @id = "message", @cols = "30", @rows = "5", @placeholder = "Tell us what are you thinking" })
                                    @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Send Message" class="btn btn-primary text-white px-4 py-2">
                                </div>
                            </div>


                        </form>
                    </div>

                    <div class="col-lg-4">
                        <div class="p-4 mb-3 bg-white">
                            <h3 class="h5 text-black mb-3">Contact Information</h3>
                            <p class="mb-0 font-weight-bold">Administrators</p>
                            <p class="mb-4">Tanya Shipley<br>Maria Baturina<br>Tanmay Dalvi<br>Yan Li</p>

                            <p class="mb-0 font-weight-bold">Phone</p>
                            <p class="mb-4">+61 400 404 004</p>

                            <p class="mb-0 font-weight-bold">mail Address</p>
                            <p class="mb-4">ylii0093@student.monash.edu</p>

                            <p class="mb-0 font-weight-bold">Working time</p>
                            <p class="mb-4">9：00 to 17:00, Monday through Friday</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>

    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/main.js"></script>
}
