@model IEnumerable<IE_Web.Models.Vendor>
@{
    ViewBag.Title = "Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />

<!--Page Title-->
<center>
    <h2 class="page-heading">Search Eco-Friendly Vendors Information</h2>
</center>

<!--Search Bar-->
@using (Html.BeginForm("Vendor", "Home", FormMethod.Get))
{
    <div class="py-3 bg-primary" style="margin-bottom:-20px">
        <div class="container">
            <div class="row">

                <form class="search-form col-md-12">

                    <div class="col-md-4 col-12">
                        <h5 class="text-uppercase text-white mb-4" for="offer-types">Select Category</h5>
                        <select name="category" style="height:40px;width:200px">
                            <option value="">All</option>
                            <option value="WholeSale">WholeSale</option>
                            <option value="Meat">Meat</option>
                            <option value="Vegetables">Vegetables</option>
                            <option value="Fruits">Fruits</option>
                            <option value="Cafe">Cafe</option>
                            <option value="Bakery">Bakery</option>
                            <option value="Grocery">Grocery</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <h5 class="text-uppercase text-white mb-4">Input Postcode</h5>
                        <input type="text" name="postcode" placeholder="Input Postcode" style="height:40px;width:300px" />
                    </div>

                    <div class="col-md-4 col-12 text-center">
                        <h5 class="text-uppercase text-white mb-4"><br /></h5>
                        <input type="submit" value="Search" class="btn btn-bg-primary font-secondary text-uppercase" />
                    </div>
                </form>
                
            </div>
        </div>
    </div>
}


<br />
<br />

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-12">
                <div style="height:500px;overflow-y:auto;overflow-x:hidden">


                    @if (Model.Count() == 0)
                    {
                        <!--Set the search to no results-->
                        <div>
                            <h3 colspan="3" class="text-center">
                                No Match Any Vendors
                            </h3>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="vendor-block">

                                <!--Different categories use different images-->
                                <div class="vendor-img-block">

                                    @if (item.category.Trim().ToLower().Equals("wholesale"))
                                    {
                                        <img src="~/images/category_wholesale.jpg" />
                                    }
                                    else if (item.category.Trim().ToLower().Equals("cafe"))
                                    {
                                        <img src="~/images/category_cafe.jpg" />
                                    }
                                    else if (item.category.Trim().ToLower().Equals("meat"))
                                    {
                                        <img src="~/images/category_meat.jpg" />
                                    }
                                    else if (item.category.Trim().ToLower().Equals("vegetables"))
                                    {
                                        <img src="~/images/category_veggies.jpg" />
                                    }
                                    else
                                    {
                                        <img src="~/images/organic_syrup.jpg" />
                                    }
                                </div>

                                <!--Show vendors' detail information-->
                                <div class="vendor-detail-block">
                                    <h4>
                                        @item.Name
                                    </h4>
                                    <address>
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-geo-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                                        </svg>
                                        @item.address, @item.postcode
                                    </address>
                                    <div>
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-filter-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                        </svg>
                                        @item.category
                                    </div>
                                    <div>
                                        <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                                        </svg>
                                        @item.phone
                                    </div>
                                    <div>
                                        @if (item.website.ToLower().Trim().Equals("no details") || item.website == null)
                                        {
                                            <p>
                                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-globe" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4H2.255a7.025 7.025 0 0 1 3.072-2.472 6.7 6.7 0 0 0-.597.933c-.247.464-.462.98-.64 1.539zm-.582 3.5h-2.49c.062-.89.291-1.733.656-2.5H3.82a13.652 13.652 0 0 0-.312 2.5zM4.847 5H7.5v2.5H4.51A12.5 12.5 0 0 1 4.846 5zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5H7.5V11H4.847a12.5 12.5 0 0 1-.338-2.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12H7.5v2.923c-.67-.204-1.335-.82-1.887-1.855A7.97 7.97 0 0 1 5.145 12zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11H1.674a6.958 6.958 0 0 1-.656-2.5h2.49c.03.877.138 1.718.312 2.5zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12h2.355a7.967 7.967 0 0 1-.468 1.068c-.552 1.035-1.218 1.65-1.887 1.855V12zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5h-2.49A13.65 13.65 0 0 0 12.18 5h2.146c.365.767.594 1.61.656 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4H8.5V1.077c.67.204 1.335.82 1.887 1.855.173.324.33.682.468 1.068z" />
                                                </svg>
                                                No Website
                                            </p>
                                        }
                                        else
                                        {
                                            <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-globe" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4H2.255a7.025 7.025 0 0 1 3.072-2.472 6.7 6.7 0 0 0-.597.933c-.247.464-.462.98-.64 1.539zm-.582 3.5h-2.49c.062-.89.291-1.733.656-2.5H3.82a13.652 13.652 0 0 0-.312 2.5zM4.847 5H7.5v2.5H4.51A12.5 12.5 0 0 1 4.846 5zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5H7.5V11H4.847a12.5 12.5 0 0 1-.338-2.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12H7.5v2.923c-.67-.204-1.335-.82-1.887-1.855A7.97 7.97 0 0 1 5.145 12zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11H1.674a6.958 6.958 0 0 1-.656-2.5h2.49c.03.877.138 1.718.312 2.5zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12h2.355a7.967 7.967 0 0 1-.468 1.068c-.552 1.035-1.218 1.65-1.887 1.855V12zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5h-2.49A13.65 13.65 0 0 0 12.18 5h2.146c.365.767.594 1.61.656 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4H8.5V1.077c.67.204 1.335.82 1.887 1.855.173.324.33.682.468 1.068z" />
                                            </svg>
                                            <a href="https://@item.website" target="_blank">@item.website.Trim()</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <br /><br />
            <!--Map-->
            <div id="map" class="col-sm-12 col-md-8 col-12" style="height:500px;width:100%"></div>

        </div>
    </div>

    <!--Script for Map-->
    @section Scripts{
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>

        <script>
            // mapbox accessToken
            mapboxgl.accessToken = 'pk.eyJ1IjoibHltYW4zNDk5IiwiYSI6ImNrMW44ZXJ0ZDA0aHgzanBoZ2djM2gydm0ifQ.lNs4k9R7vEECWf2x7y09Ww';

            // use mapbox to create a map
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                center: [144.96, -37.8],
                zoom: 8
            });

            // Set feature for all Vendors
            var geojson = {
                type: 'FeatureCollection',
                features: [{
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [146, -38]
                    },
                    properties: {
                        title: 'Vendors',
                        description: 'The location of Vendors'
                    }
                }]
            };

            // add markers to map
            geojson.features.forEach(function (marker) {

                // create a HTML element for each feature
                var el = document.createElement('div');
                el.className = 'marker';

                // make a marker for each feature and add to the map, and set the popup
                new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                        .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
                    .addTo(map);
            });

            // Add geolocate control to the map.
            map.addControl(new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            }));

            // Add search bar to the map.
            map.addControl(new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl
            }));

        </script>
    }
</body>


