@model IEnumerable<IE_Web.Models.quiz>

@{
    ViewBag.Title = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/quiz.css" rel="stylesheet" />
<link href="~/css/quizBootstrap.css" rel="stylesheet" />

<!--Test Your Knowledge Page Banner Block-->
<div class="banner">
    <div class="quiz-banner-block"></div>
    <div class="banner-text-block">
        <h1 class="text-uppercase" style="font-size:30px;font-weight:bold">Test Your Knowledge</h1>
    </div>
</div>

<!--Quiz Content-->
<div id="quizPage">
    <div id="quizStart" class="container-fluid bg-info" style="height:600px">
        <div class="modal-dialog">
            <div class="modal-content" style="height:540px">
                <div class="modal-header">

                    <!--Question 1-7 -->
                    <div id="question">
                        <div id="question1">
                            <h3><span class="label label-warning" id="q2">1</span> In which bin can we dispose the baking paper?</h3>
                        </div>
                        <div id="question2" style="display:none">
                            <h3><span class="label label-warning" id="q2">2</span> Select the correct alternative for the plastic milk container mentioned on this site?</h3>
                        </div>
                        <div id="question3" style="display:none">
                            <h3><span class="label label-warning" id="q3">3</span> What vegetables can be grown in pots</h3>
                        </div>
                        <div id="question4" style="display:none">
                            <h3><span class="label label-warning" id="q4">4</span> How can you utilize your kitchen waste?</h3>
                        </div>
                        <div id="question5" style="display:none">
                            <h3><span class="label label-warning" id="q5">5</span> What are good ways to avoid food waste?</h3>
                        </div>
                        <div id="question6" style="display:none">
                            <h3><span class="label label-warning" id="q6">6</span> Plants have absorbed almost half of the carbon dioxide that is produced by humans over the last decade?"</h3>
                        </div>
                        <div id="question7" style="display:none">
                            <h3><span class="label label-warning" id="q7">7</span> Which of the following are carbon sinks?</h3>
                        </div>
                    </div>
                </div>


                <div class="modal-body">
                    <!--Options for all the question -->
                    <div class="quiz">
                        <div id="quiz1" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.01>A. Cummingled recycling bin</label>
                            <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>B. General waste bin</label>
                            <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.03>C. Glass recycling bin</label>
                            <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.04>D. Food and garden bin</label>
                        </div>

                        <div id="quiz2" data-toggle="buttons" style="display:none">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.01>A. Plastic bottle</label>
                            <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.02>B. Stainless steel bottle</label>
                            <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>C. Glass bottle</label>
                            <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.04>D. None of the above</label>
                        </div>

                        <div id="quiz3" data-toggle="buttons" style="display:none">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.01>A. Tomatoes</label>
                            <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.02>B. Garlic</label>
                            <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.03>C. Coriander</label>
                            <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above</label>
                        </div>

                        <div id="quiz4" data-toggle="buttons" style="display:none">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>A. To create compost</label>
                            <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.02>B. By using it in pot farming</label>
                            <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.03>C. Thrown into the lake</label>
                            <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.04>D. None of the above</label>
                        </div>

                        <div id="quiz5" data-toggle="buttons" style="display:none">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.01>A. Avoid purchasing unnecessary food items</label>
                            <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.02>B. Store food at correct temperatures</label>
                            <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.03>C. Save leftover food</label>
                            <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above</label>
                        </div>
                    </div>

                    <div id="quiz6" data-toggle="buttons" style="display:none">
                        <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.01> True</label>
                        <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1> False</label>
                    </div>

                    <div id="quiz7" data-toggle="buttons" style="display:none">
                        <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.01>A. Soil and rocks</label>
                        <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.02>B. Fossil fuels</label>
                        <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0.03>C. Forests</label>
                        <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above</label>
                    </div>

                    <div>
                        <!--Suggestion based on different grade level-->
                        <div>
                            <div id="suggestion1" style="display:none">
                                <h4>
                                    Your grade is P.<br /><br />
                                    You are a new environmentalist. Your presence here proves your commitment to environmental protection. You are welcome to join us.<br /><br />
                                    You need to learn more about why and how to reduce carbon emissions, and we will provide you with detailed knowledge.<br /><br />
                                    When you know this knowledge, I believe you will be more firmly in the position of protecting the environment, to reduce the carbon footprint to contribute their own strength
                                </h4>
                            </div>

                            <div id="suggestion2" style="display:none">
                                <h4>
                                    Your grade is C.<br /><br />
                                    You already have a basic understanding of your carbon footprint, but there's a lot you don't know.<br /><br />
                                    You may have just heard that you need to systematically understand the willingness and means to reduce carbon emissions.<br /><br />
                                    Our website can help you systematically learn and provide some simple ways that you can do on a daily basis to help you improve your lifestyle and reduce your carbon footprint
                                </h4>
                            </div>

                            <div id="suggestion3" style="display:none">
                                <h4>
                                    Your grade is D.<br /><br />
                                    You're already a good environmentalist, you understand the impact of carbon dioxide emissions and how to reduce them<br /><br />
                                    All you might need is how to implement a carbon reduction approach, and we offer easy ways to reduce your carbon footprint in your life, which will help you reduce the cost of action to protect the environment
                                </h4>
                            </div>

                            <div id="suggestion4" style="display:none">
                                <h4>
                                    Your grade is HD.<br /><br />
                                    You are a very good environmentalist and you know a lot about how to reduce carbon emissions.<br /><br />
                                    WE hope you can introduce your knowledge to more people. <br /><br />
                                    If you want to learn more about reducing carbon emissions, please read our website.
                                </h4>
                            </div>
                        </div>

                        <!--Iput the result into database-->
                        <div id="finish1" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 1 });
                        </div>
                        <div id="finish2" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 2 });
                        </div>
                        <div id="finish3" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 3 });
                        </div>
                        <div id="finish4" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 4 });
                        </div>
                        <div id="finish5" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 5 });
                        </div>
                        <div id="finish6" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 6 });
                        </div>
                        <div id="finish7" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 7 });
                        </div>
                        <div id="finish8" class="btn-default" style="display:none">
                            @Html.ActionLink("Check other scores", "Quiz", new { id = 8 });
                        </div>

                    </div>
                </div>

                <!--Footer with 2 buttons-->
                <div style="border-top-style: groove">
                    <div style="padding-top:20px;padding-bottom:50px">
                        <!--Test again button-->
                        <div class="col-12 col-lg-6">
                            <a href="~/quizs/index" id="finishbtn" style="float:left;display:none"><span class="text-white btn btn-primary">Test Again</span></a>
                        </div>
                        <!--View Answer button-->
                        <div class="col-12 col-lg-6">
                            <button id="review" class="btn-default text-white btn btn-primary" style="float:right;display:none">Review Answers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Answers-->
<div id="answerPage" style="display:none">
    <div id="result" style="margin:40px">
        <div>
            <div id="result1" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning">1</span> In which bin can we dispose the baking paper?</h3>
                <div data-toggle="buttons">
                    <label id="label11" class="element-animation1 btn btn-lg btn-primary btn-block">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Cummingled recycling bin

                    </label>
                    <label id="label12" class="element-animation2 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>B. General waste bin
                        <img style="height:30px;width:auto" src="~/images/right.png" />
                    </label>
                    <label id="label13" class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Glass recycling bin </label>
                    <label id="label14" class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>D. Food and garden bin </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: General waste bin
                    </h4>
                    <h4>
                        Why: Baking paper has a thin lining, similar to coffee cups, which makes it difficult for the paper to be separated from the silicone coating. So it's hard to recycle
                    </h4>
                </div>
            </div>
            <div id="result2" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning" id="q2">2</span> Select the correct alternative for the plastic milk container mentioned on this site?</h3>
                <div data-toggle="buttons">
                    <label id="label21" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Plastic bottle </label>
                    <label id="label22" class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Stainless steel bottle </label>
                    <label id="label23" class="element-animation3 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>C. Glass bottle
                        <img style="height:30px;width:auto" src="~/images/right.png" />
                    </label>
                    <label id="label24" class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>D. None of the above </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: Glass bottle
                    </h4>
                    <h4>
                        Why: Only the glass bottles can be reused.
                    </h4>
                </div>
            </div>
            <div id="result3" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning" id="q3">3</span> What vegetables can be grown in pots</h3>
                <div data-toggle="buttons">
                    <label id="label31" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Tomatoes </label>
                    <label id="label32" class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Garlic </label>
                    <label id="label33" class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Coriander </label>
                    <label id="label34" class="element-animation4 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above
                        <img style="height:30px;width:auto" src="~/images/right.png" />
                    </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: All of the above
                    </h4>
                    <h4>
                        Why: Tomatoes, Garlic and Coriander are suitable for pot farming, and they don't need a lot of space to grow.
                        You can check out the knowledge on our Pot farming page
                    </h4>
                </div>
            </div>
            <div id="result4" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning" id="q4">4</span> How can you utilize your kitchen waste?</h3>
                <div data-toggle="buttons">
                    <label id="label41" class="element-animation1 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>A. To create compost
                        <img style="height:30px;width:auto" src="~/images/right.png" />
                    </label>
                    <label id="label42" class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. By using it in pot farming </label>
                    <label id="label43" class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Thrown into the lake </label>
                    <label id="label44" class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>D. None of the above </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: To create compost
                    </h4>
                    <h4>
                        Why: You can compost waste food, produce waste, feed your plants, and reduce waste
                    </h4>
                </div>
            </div>

            <div id="result5" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning" id="q5">5</span> What are good ways to avoid food waste?</h3>
                <div data-toggle="buttons">
                    <label id="label51" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Avoid purchasing unnecessary food items </label>
                    <label id="label52" class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Store food at correct temperatures </label>
                    <label id="label53" class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Save leftover food </label>
                    <label id="label54" class="element-animation4 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above
                        <img style="height:30px;width:auto" src="~/images/right.png" />
                    </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: All of the above
                    </h4>
                    <h4>
                        Why: Cutting back on purchases, properly storing and eating up leftovers can all help reduce food waste
                    </h4>
                </div>
            </div>

            <div id="result6" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning" id="q6">6</span> Plants have absorbed almost half of the carbon dioxide that is produced by humans over the last decade?"</h3>
                <div id="quiz6" data-toggle="buttons">
                    <label id="label61" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0> True </label>
                    <label id="label62" class="element-animation2 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1> False
                        <img style="height:30px;width:auto" src="~/images/right.png" />
                    </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: False
                    </h4>
                    <h4>
                        Why: The earth's land and oceans absorb half of the carbon dioxide produced by humans rather than Plants.
                    </h4>
                </div>
            </div>

            <div id="result7" style="margin-top:50px">
                <!--QA-->
                <h3><span class="label label-warning" id="q7">7</span> Which of the following are carbon sinks?</h3>
                <div data-toggle="buttons">
                    <label id="label71" class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>A. Soil and rocks </label>
                    <label id="label72" class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>B. Fossil fuels </label>
                    <label id="label73" class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=0>C. Forests </label>
                    <label id="label74" class="element-animation4 btn btn-lg btn-primary btn-block active">
                        <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=1>D. All of the above
                        <img style="height:30px;width:auto" src="~/images/right.png" />

                    </label>
                </div>
                <!--right answers and why-->
                <div style="margin:40px">
                    <h4>
                        The right answer is: All of the above
                    </h4>
                    <h4>
                        Why: Increase in atmospheric carbon dioxide means increase in global temperature. The amount of carbon dioxide varies naturally in a dynamic equilibrium with photosynthesis of land plants. The natural sinks are:<br /><br />

                        - Soil is the Earth's greatest carbon store and active carbon sink<br />
                        - Photosynthesis by terrestrial plants with grass and trees serving as carbon sinks during growing seasons.<br />
                        - Absorption of carbon dioxide by the oceans via physicochemical and minor biological processes
                    </h4>
                </div>
            </div>
        </div>


    </div>

    <!--Jump button-->
    <div style="height:auto;text-align:center">
        <!--Jump to this page again-->
        <div style="width:50%;display:inline;padding-right:30%">

            <a href="~/quizs/index" id="finishbtn"><span class="text-white btn btn-primary">Test Again</span></a>

        </div>
        <!--Jump to home page-->
        <div style="width:50%;display:inline">

            <a href="~/Home" id="review" class="btn-default"><span class="text-white btn btn-primary">Home Page</span></a>

        </div>
    </div>
</div>


<!--Scripts for the Quiz-->
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    //Click to hide QA and show the answer screen
    $(document).ready(function () {
        $("#review").click(function () {
            $("#quizPage").hide();
            $("#answerPage").show();
        });

    });


    $(function () {
        var i = 1;
        var grade = 0;

        // go to next question
        $("label.btn").on('click', function () {

            var nowQuestion = "#question" + i;
            var nowQuiz = "#quiz" + i;
            var label = "label" + i;
            i++;
            var nextQuestion = "#question" + i;
            var nextQuiz = "#quiz" + i;


            var choice = $(this).find('input:radio').val();
            console.log(label);
            // mark the user selection, if wrong, heighlight orange, show wrong icon
            if (choice == '0.01') {
                label += 1;
                console.log(label);
                document.getElementById(label).style.backgroundColor = "#E58B32";
                document.getElementById(label).innerHTML += '<img style="height:20px;width:auto" src="../../images/wrong.png" />';
            }
            else if (choice == '0.02') {
                label += 2;
                document.getElementById(label).style.backgroundColor = "#E58B32";
                document.getElementById(label).innerHTML += '<img style="height:20px;width:auto" src="../../images/wrong.png" />';
            }
            else if (choice == '0.03') {
                label += 3;
                document.getElementById(label).style.backgroundColor = "#E58B32";
                document.getElementById(label).innerHTML += '<img style="height:20px;width:auto" src="../../images/wrong.png" />';
            }
            else if (choice == '0.04') {
                label += 4;
                document.getElementById(label).style.backgroundColor = "#E58B32";
                document.getElementById(label).innerHTML += '<img style="height:20px;width:auto" src="../../images/wrong.png" />';
            }
            else {

            };

            choice = parseInt(choice);
            grade += choice;

            $('#loadbar').show();
            $('#quiz').fadeOut();
            $(nowQuestion).hide();
            $(nowQuiz).hide();
            $(nextQuestion).show();
            $(nextQuiz).show();
            $('#quiz').fadeIn();

            //When 7 question has been finsihed, show suggestion based on grade,show jump buttons in footer
            if (i == 8) {
                $('#quiz').hide();
                if (grade <= 2) {
                    $('#suggestion1').fadeIn();
                    if (grade == 0) {
                        // $('#finish1').fadeIn();
                    }
                    else {
                        //$('#finish2').fadeIn();
                    }

                }
                else if (grade > 2 && grade <= 4) {
                    $('#suggestion2').fadeIn();
                    if (grade == 2) {
                        //$('#finish3').fadeIn();
                    }
                    else {
                        //$('#finish4').fadeIn();
                    }
                }
                else if (grade > 4 && grade <= 6) {
                    $('#suggestion3').fadeIn();
                    if (grade == 4) {
                        //$('#finish5').fadeIn();
                    }
                    else {
                        //$('#finish6').fadeIn();
                    }
                }
                else {
                    $('#suggestion4').fadeIn();
                    if (grade == 6) {
                        //$('#finish7').fadeIn();
                    }
                    else {
                        $('#finish8').fadeIn();
                    }
                }
                $('#finishbtn').fadeIn();
                $('#review').fadeIn();
            }
        });

    });
</script>
<!--Scripts for the Quiz-->